.gdgallery-new-sub {
    font-weight: bold;
}

body {
    background: #fff;
    font-family: Nunito;
}

.gdgallery_content {
    padding: 50px 30px;
    width: 100%;
}

.gdgallery_content:after {
    clear: both;
    display: block;
    content: '';
}

.gdgallery-submission-leftcol {
    width: 75%;
    float: left;
    background: #f3f4f8;
    padding: 15px;
    border: 1px solid #ebebeb;
    font-size: 14px;
}

.gdgallery-submission-leftcol tr td {
    padding: 5px;
    vertical-align: top;
}

.gdgallery-submission-leftcol tr td:first-child {
    font-family: Nunito Semibold;
}

.gdgallery-submission-leftcol tr td:last-child {
    padding-left: 10px;
}

.gdgallery-submission-leftcol i {
    color: #00a0d2;
    margin-right: 2px;
    font-family: FontAwesome;
}

i.gdgallery-text:before {
    content: "\f031";
}

i.gdgallery-email:before {
    content: "\f003";
}

i.gdgallery-checkbox:before {
    content: "\f00c";
}

i.gdgallery-radio:before {
    content: "\f192";
}

i.gdgallery-date:before {
    content: "\f073";
}

i.gdgallery-address:before {
    content: "\f041";
}

i.gdgallery-selectbox:before {
    content: "\f13a";
}

i.gdgallery-imageselect:before {
    content: "\f03e";
}

i.gdgallery-phone:before {
    content: "\f095";
}

i.gdgallery-textarea:before {
    content: "\f27b";
}

i.gdgallery-number:before {
    content: "\f162";
}

.gdgallery-submission-rightcol {
    width: 23%;
    float: right;
    background: #f3f4f8;
    padding: 15px;
    border: 1px solid #ebebeb;
    font-size: 14px;
}

.gdgallery-submission-rightcol tr td {
    padding: 5px;
}

.gdgallery-submission-rightcol tr td:last-child {
    font-weight: bold;
    padding-left: 10px;
}

.gdgallery-submission-rightcol i {
    color: #00a0d2;
    margin-right: 5px;
}

.gdgallery-submission-leftcol i {
    font-style: normal;
}

.gdgallery-attachments {
    margin-top: 70px;
}

.gdgallery-attachments h2 {
    font-size: 1.5em;
    color: #666;
}

.gdgallery-attachment {
    padding: 15px;
    background: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
}

.gdgallery-submission-leftcol .gdgallery-attachment a {
    text-decoration: none;
    color: #bebebe;
}

.gdgallery-submission-leftcol .gdgallery-attachment a i {
    font-size: 40px;
    margin-right: 0;
    color: #bebebe;
}

.gdgallery-submission-leftcol .gdgallery-attachment a h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    height: 15px;
    margin-bottom: 0;
}

.gdgallery-submission-leftcol .gdgallery-attachment a:hover {
    color: #00a0d2;
}

.gdgallery-submission-leftcol .gdgallery-attachment a:hover i {
    color: #00a0d2;
}

.gdgallery-submission-leftcol .gdgallery-attachment a i:before {
    content: "\f0c6";
    font-family: FontAwesome;
}

.gdgallery-submission-leftcol .gdgallery-attachment a i.gdgallery-png:before,
.gdgallery-submission-leftcol .gdgallery-attachment a i.gdgallery-jpeg:before {
    content: "\f1c5";
}

.gdgallery-submission-leftcol .gdgallery-attachment a i.gdgallery-docx:before {
    content: "\f1c2";
}

.gdgallery-submission-leftcol .gdgallery-attachment a i.gdgallery-pdf:before {
    content: "\f1c2";
}

.gdgallery-submission-leftcol .gdgallery-attachment a i.gdgallery-excel:before {
    content: "\f1c3";
}

.gdgallery-field-attachments h3 {
    color: #00a0d2;
    margin-bottom: 0;
    padding-left: 10px;
}

.gdgallery-delete-submission {
    cursor: pointer;
    color: #0073aa;
}

.gdgallery-delete-submission:hover {
    color: #0096dd;
}

.tablenav {
    margin-top: 45px;
    margin-bottom: 15px;
}
