.gdfrm-new-sub{
    font-weight: bold;
}

body{
    background: #fff;
    font-family: Nunito;
}
.gdfrm_content{
    padding: 50px 30px;
    width: 100%;
}
.gdfrm_content:after{
    clear: both;
    display: block;
    content: '';
}
.gdfrm-submission-leftcol{
    width: 75%;
    float: left;
    background: #f3f4f8;
    padding: 15px;
    border: 1px solid #ebebeb;
    font-size: 14px;
}


.gdfrm-submission-leftcol tr td{
    padding: 5px;
    vertical-align: top;
}
.gdfrm-submission-leftcol tr td:first-child{
    font-family: Nunito Semibold;
}
.gdfrm-submission-leftcol tr td:last-child{
    padding-left: 10px;
}
.gdfrm-submission-leftcol i{
    color: #00a0d2;
    margin-right: 2px;
    font-family: FontAwesome;
}
i.gdfrm-text:before{
    content: "\f031";
}
i.gdfrm-email:before{
    content: "\f003";
}
i.gdfrm-checkbox:before{
    content: "\f00c";
}
i.gdfrm-radio:before{
    content: "\f192";
}
i.gdfrm-date:before{
    content: "\f073";
}
i.gdfrm-address:before{
    content: "\f041";
}
i.gdfrm-selectbox:before{
    content: "\f13a";
}
i.gdfrm-imageselect:before{
    content: "\f03e";
}
i.gdfrm-phone:before{
    content: "\f095";
}
i.gdfrm-textarea:before{
     content: "\f27b";
}
i.gdfrm-number:before{
    content: "\f162";
}
.gdfrm-submission-rightcol{
    width: 23%;
    float: right;
    background: #f3f4f8;
    padding: 15px;
    border: 1px solid #ebebeb;
    font-size: 14px;
}
.gdfrm-submission-rightcol tr td{
    padding: 5px;
}
.gdfrm-submission-rightcol tr td:last-child{
    font-weight: bold;
    padding-left: 10px;
}
.gdfrm-submission-rightcol i{
    color: #00a0d2;
    margin-right: 5px;
}
.gdfrm-submission-leftcol i{
    font-style: normal;
}

.gdfrm-attachments{
    margin-top: 70px;
}
.gdfrm-attachments h2{
    font-size: 1.5em;
    color: #666;
}
.gdfrm-attachment{
    padding: 15px;
    background: #fff;
    display: inline-block;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px;
}

.gdfrm-submission-leftcol .gdfrm-attachment a{
    text-decoration: none;
    color: #bebebe;
}
.gdfrm-submission-leftcol .gdfrm-attachment a i{
    font-size: 40px;
    margin-right: 0;
    color: #bebebe;
}
.gdfrm-submission-leftcol .gdfrm-attachment a h4{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    height: 15px;
    margin-bottom: 0;
}
.gdfrm-submission-leftcol .gdfrm-attachment a:hover{
    color: #00a0d2;
}
.gdfrm-submission-leftcol .gdfrm-attachment a:hover i{
    color: #00a0d2;
}
.gdfrm-submission-leftcol .gdfrm-attachment a i:before{
    content: "\f0c6";
    font-family: FontAwesome;
}


.gdfrm-submission-leftcol .gdfrm-attachment a i.gdfrm-png:before,
.gdfrm-submission-leftcol .gdfrm-attachment a i.gdfrm-jpeg:before{
    content: "\f1c5";
}
.gdfrm-submission-leftcol .gdfrm-attachment a i.gdfrm-docx:before{
    content: "\f1c2";
}
.gdfrm-submission-leftcol .gdfrm-attachment a i.gdfrm-pdf:before{
    content: "\f1c2";
}
.gdfrm-submission-leftcol .gdfrm-attachment a i.gdfrm-excel:before{
    content: "\f1c3";
}

.gdfrm-field-attachments h3{
    color: #00a0d2;
    margin-bottom: 0;
    padding-left: 10px;
}

.gdfrm-delete-submission{
    cursor: pointer;
    color: #0073aa;
}
.gdfrm-delete-submission:hover{
    color: #0096dd;
}
.tablenav{
    margin-top: 45px;
    margin-bottom: 15px;
}
